// Couleurs globales
$bg-color: white;
$text-color: #292929;
$main-yellow: #FFC836;
$main-red:#BD0017;


// Typographie
$font-main: "Source Sans 3", sans-serif;

// Couleurs component 
$border: #6E6E6E;
$border-selected: #FFC836;
$border-notSelected: #D6D6D6;
$cart-color: #F1F1F1;